# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/android
/ios

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment variables
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/

# Temporary files
*.log
*.tmp
*.swp
*.swo

# Build outputs
build/
dist/